# Generic
# --------------------------
Thumbs.db
Desktop.ini
.DS_Store
.directory
._*
*.DS_Store
*.old
*.log
*.tmp

# caches
.cache
*.cache
*~

# distribution
dist
*.zip

# Development files
# --------------------------
.php-version
.tool-versions
.env.*
.env
coveralls-upload.json

# Dependency folders
node_modules
vendor

# Other package managers
bun.lock
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# AI Agent
GEMINI.md
.gemini
conductor

# IDE Project Configurations
# --------------------------
nbproject
.idea
.settings
.vscode
.project
.zed
*.sublime-*

# But Keep these
# --------------------------
!.env.example
!.env.*.example
!.gitkeep
