# Generic
# --------------------------
Thumbs.db
Desktop.ini
.DS_Store
.directory
._*
*.DS_Store
*.old
*.log
*.tmp

# caches
.cache
*.cache
*~

# distribution
dist
*.zip

# Development files
# --------------------------
.env.*
.env
.php-version
.tool-versions
node_modules
vendor
coveralls-upload.json

# Other package managers
bun.lock
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# AI Agents
# --------------------------
.agents
.antigravitycli
.augment
.cursor
.gemini
.github/copilot-instructions.md
conductor
CLAUDE.md
GEMINI.md
opencode.json

# IDE Project Configurations
# --------------------------
.idea
.settings
.vscode
.project
.zed
nbproject
*.sublime-*

# But Keep these
# --------------------------
!.env.example
!.env.*.example
!.gitkeep
