name: Docs

on:
  push:
    branches: [main]
    paths:
      - .github/workflows/docs.yml
      - .github/wiki/*

jobs:
  wiki:
    name: Publish Wiki
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Publish Wiki
        env:
          REPO: https://${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.wiki.git
        run: |
          git config user.name ${{ github.actor }}
          git subtree split -P .github/wiki -b gh-wiki
          git push -f $REPO gh-wiki:master
